{
  "registry_url": "http://omsserviceregistry:7000",
  "core_url": "http://omscore-nginx",
  "port": 8003,
  "auth_caching": true,
  "auth_cache_expiration": 60000,
  "notifications_max_age": 432000,
  "mongo_url": "mongodb://notifications-mongodb/oms-notification-onscreen"
}